# SQL Server
SQLSERVER_SA_PASSWORD=QualityDoc2026!

# PostgreSQL
PG_DB=qualitydoc_audit
PG_USER=qualitydoc
PG_PASSWORD=QualityDoc_PG_2026!

# MongoDB
MONGO_DB=qualitydoc_meta
MONGO_USER=mongoadmin
MONGO_PASSWORD=QualityDoc_Mongo_2026!